.grid-container {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "nav ucLeft ucCenter ucRight"
    "nav midContent midContent midContent"
    "nav lowerCon2 lowerCon2 lowerCon2"
    "footer footer footer footer";
  gap: 3px;
}

.header {
  grid-area: header;
  border: 2px solid black;
  height: 30px;
  background-color: rgb(211, 207, 207);
  text-align: center;
}

.nav {
  grid-area: nav;
  border: 2px solid black;
  height: 100%;
  background-color: tan;
  text-align: center;
}

.ucLeft {
  grid-area: ucLeft;
  border: 2px solid black;
  height: 100px;
  background-color: rgb(108, 103, 103);
  text-align: center;
}

.ucCenter {
  border: 2px solid black;
  height: 100px;
  background-color: red;
  text-align: center;
}

.ucRight {
  grid-area: ucRight;
  border: 2px solid black;
  height: 100px;
  background-color: rgb(211, 207, 207);
  text-align: center;
}

.midContent {
  grid-area: midContent;
  border: 2px solid black;
  height: 100px;
  background-color: rgb(47, 157, 226);
  text-align: center;
}

.lowerCon2 {
  grid-area: lowerCon2;
  border: 2px solid black;
  height: 100px;
  background-color: orangered;
  text-align: center;
}

.footer {
  grid-area: footer;
  border: 2px solid black;
  height: 40px;
  background-color: rgb(211, 207, 207);
  text-align: center;
}

div {
  text-align: center;
}

.grid-container-2 {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

@media screen and (min-width: 600px);

.card-wide {
    grid-column: span 2 / auto;
}

