.grid-box {
  height: 100px;
  width: 100%;
  border: 2px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: auto;
  grid-template-areas: "header header header header"
  "nav upper-content-left"
  "nav sticky-footer"
  ""
  "";
  gap: 3px;
}

.header {
  border: 2px solid black;
  height: 30px;
  background-color: rgb(211, 207, 207);
  text-align: center;
}

.nav {
  border: 2px solid black;
  height: 40px;
  background-color: tan;
  text-align: center;
}

.upper-content-left {
  border: 2px solid black;
  height: 40px;
  background-color: rgb(108, 103, 103);
  text-align: center;
}


.upper-content-center {
  border: 2px solid black;
  height: 40px;
  background-color: red;
  text-align: center;
}


.upper-content-right {
  border: 2px solid black;
  height: 40px;
  background-color: rgb(211, 207, 207);
  text-align: center;
}

.middle-content {
  border: 2px solid black;
  height: 40px;
  background-color: rgb(47, 157, 226);
  text-align: center;
}

.lower-content-2 {
  border: 2px solid black;
  height: 40px;
  background-color: orangered;
  text-align: center;
}


.sticky-footer {
  border: 2px solid black;
  height: 40px;
  background-color: rgb(211, 207, 207);
  text-align: center;
}
